:root {
	--md-primary-fg-color: #4b4b4b;
	--md-primary-fg-color--light: #f78c00;
	--md-primary-fg-color--dark: #90030c;

	--md-accent-fg-color: #f78c00;
}

.md-nav__item .md-nav__link--active {
	font-weight: bold;
	color: var(--md-accent-fg-color);
}

.md-typeset a {
	color: var(--md-accent-fg-color);
}

.md-typeset a:hover {
	color: var(--md-accent-fg-color);
	text-decoration: underline;
}
